.App {
  text-align: left;
}

.App-header {
  background-color: #612940;
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Top-Movies {
  border-left: 50px soild #00bfbf;
  font-family: Verdana;
  color: #E5DADA;
  padding: 25px;
  margin: 15px;
  margin-left: 2in;
  margin-top: 40px;
  background-color: #9d6381;
  width: fit-content;
  flex: 1;
}
.Movie-Data {
  border-left: 50px soild #00bfbf;
  font-family: Verdana;
  color: #E5DADA;
  padding: 25px;
  margin: 15px;
  margin-right: 2in;
  margin-top: 40px;
  background-color: #9d6381;
  width: fit-content;
  flex: 1;
}